In [75]:
import pandas as pd

In [76]:
census = pd.read_csv('india-districts-census-2011.csv')
census.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629

In [77]:
latlong = pd.read_csv('district wise centroids.csv')
latlong.head()

                 State         District   Latitude  Longitude
0  Andaman and Nicobar  Andaman Islands  12.382571  92.822911
1  Andaman and Nicobar  Nicobar Islands   7.835291  93.511601
2       Andhra Pradesh         Adilabad  19.284514  78.813212
3       Andhra Pradesh        Anantapur  14.312066  77.460158
4       Andhra Pradesh         Chittoor  13.331093  78.927639

In [78]:
census.shape

(640, 118)

In [79]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Columns: 118 entries, District code to Total_Power_Parity
dtypes: int64(116), object(2)
memory usage: 590.1+ KB

In [80]:
census.isnull().sum()

District code                    0
State name                       0
District name                    0
Population                       0
Male                             0
                                ..
Power_Parity_Rs_330000_425000    0
Power_Parity_Rs_425000_545000    0
Power_Parity_Rs_330000_545000    0
Power_Parity_Above_Rs_545000     0
Total_Power_Parity               0
Length: 118, dtype: int64

In [81]:
census.duplicated().sum()

np.int64(0)

In [82]:
col = ['District code', 'District name', 'Population', 'Male', 'Female', 'Literate', 'Male_Literate', 'Female_Literate', 'Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains', 'Housholds_with_Electric_Lighting', 'Households_with_Internet', 'Rural_Households', 'Urban_Households', 'Households', 'Below_Primary_Education', 'Primary_Education', 'Middle_Education', 'Secondary_Education', 'Higher_Education', 'Graduate_Education', 'Having_bathing_facility_Total_Households', 'Having_latrine_facility_within_the_premises_Total_Households']

In [83]:
census = census[col]

In [84]:
final_df = latlong.merge(census, left_on = 'District', right_on = 'District name').drop(columns = ['District name'])

In [85]:
final_df['Sex Ratio'] = round((final_df['Female']/final_df['Male'])*1000)
final_df

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Male_Literate,...,Households,Below_Primary_Education,Primary_Education,Middle_Education,Secondary_Education,Higher_Education,Graduate_Education,Having_bathing_facility_Total_Households,Having_latrine_facility_within_the_premises_Total_Households,Sex Ratio
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,856350,...,817714,232470,344167,281752,225957,143143,100226,378259,191052,1001.0
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,1338474,...,1244428,462273,720357,582075,331793,162175,144915,755971,353948,977.0
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,1484794,...,1303870,522961,770836,673197,548336,265199,246409,754648,382377,997.0
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,1716933,...,1605841,669420,947606,797497,521562,271809,263023,869464,800168,1006.0
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,1634726,...,1582990,736270,845810,674957,453446,246580,221924,904201,762845,1003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,3988845,2051541,1937304,2086432,1152019,...,958996,478902,629137,595551,238078,109719,92207,175732,266247,944.0
513,West Bengal,Murshidabad,24.259507,88.168169,333,7103807,3627564,3476243,4055834,2177187,...,1851965,837828,1428661,1210859,443254,230242,170051,388157,617358,958.0
514,West Bengal,Nadia,23.564110,88.582930,336,5167600,2653768,2513832,3480555,1878866,...,1549771,605490,1093403,1052487,412193,236828,209562,456320,955780,947.0
515,West Bengal,Puruliya,23.254192,86.396853,340,2930115,1496996,1433119,1624905,1002058,...,752652,299355,480046,528068,177459,91807,77621,66231,67448,957.0
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,3007134,1551066,1456068,1489667,853495,...,778250,402590,488047,422777,163106,73395,59457,179022,164644,939.0

In [86]:
final_df['Literacy Rate'] = round((final_df['Literate']/final_df['Population'])*100)
final_df

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Male_Literate,...,Below_Primary_Education,Primary_Education,Middle_Education,Secondary_Education,Higher_Education,Graduate_Education,Having_bathing_facility_Total_Households,Having_latrine_facility_within_the_premises_Total_Households,Sex Ratio,Literacy Rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,856350,...,232470,344167,281752,225957,143143,100226,378259,191052,1001.0,54.0
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,1338474,...,462273,720357,582075,331793,162175,144915,755971,353948,977.0,57.0
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,1484794,...,522961,770836,673197,548336,265199,246409,754648,382377,997.0,64.0
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,1716933,...,669420,947606,797497,521562,271809,263023,869464,800168,1006.0,64.0
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,1634726,...,736270,845810,674957,453446,246580,221924,904201,762845,1003.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,3988845,2051541,1937304,2086432,1152019,...,478902,629137,595551,238078,109719,92207,175732,266247,944.0,52.0
513,West Bengal,Murshidabad,24.259507,88.168169,333,7103807,3627564,3476243,4055834,2177187,...,837828,1428661,1210859,443254,230242,170051,388157,617358,958.0,57.0
514,West Bengal,Nadia,23.564110,88.582930,336,5167600,2653768,2513832,3480555,1878866,...,605490,1093403,1052487,412193,236828,209562,456320,955780,947.0,67.0
515,West Bengal,Puruliya,23.254192,86.396853,340,2930115,1496996,1433119,1624905,1002058,...,299355,480046,528068,177459,91807,77621,66231,67448,957.0,55.0
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,3007134,1551066,1456068,1489667,853495,...,402590,488047,422777,163106,73395,59457,179022,164644,939.0,50.0

In [87]:
final_df.to_csv('final_df.csv', index = False)

In [94]:
list_of_states = final_df['State'].unique().tolist()
list_of_states

['Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Daman and Diu',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Orissa',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttaranchal',
 'West Bengal']

In [95]:
list_of_states.insert(0, 'All States')
list_of_states

['All States',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Daman and Diu',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Orissa',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttaranchal',
 'West Bengal']

In [101]:
final_df.columns

Index(['State', 'District', 'Latitude', 'Longitude', 'District code',
       'Population', 'Male', 'Female', 'Literate', 'Male_Literate',
       'Female_Literate', 'Hindus', 'Muslims', 'Christians', 'Sikhs',
       'Buddhists', 'Jains', 'Housholds_with_Electric_Lighting',
       'Households_with_Internet', 'Rural_Households', 'Urban_Households',
       'Households', 'Below_Primary_Education', 'Primary_Education',
       'Middle_Education', 'Secondary_Education', 'Higher_Education',
       'Graduate_Education', 'Having_bathing_facility_Total_Households',
       'Having_latrine_facility_within_the_premises_Total_Households',
       'Sex Ratio', 'Literacy Rate'],
      dtype='object')

In [100]:
sorted(final_df.columns[5:].tolist())

['Below_Primary_Education',
 'Buddhists',
 'Christians',
 'Female',
 'Female_Literate',
 'Graduate_Education',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Higher_Education',
 'Hindus',
 'Households',
 'Households_with_Internet',
 'Housholds_with_Electric_Lighting',
 'Jains',
 'Literacy Rate',
 'Literate',
 'Male',
 'Male_Literate',
 'Middle_Education',
 'Muslims',
 'Population',
 'Primary_Education',
 'Rural_Households',
 'Secondary_Education',
 'Sex Ratio',
 'Sikhs',
 'Urban_Households']